@import "../../assets/style/includes";

.my-profile {
  &-content {
    background: var(--black);
    height: calc(100vh - 55px);
    overflow: auto;
  }
}
.profile-header {
  position: relative;
  @include sizing(100%, 185px);
  &:before {
    content: "";
    background: var(--profile-header-gradient);
    @include positionTopLeft(absolute, 0, 0);
    @include sizing(100%, 185px);
    z-index: 1;
  }
  .profile-image {
    background: var(--primary-bg-2);
    @include positionTopLeft(absolute, 0, 0);
    @include sizing(100%, 185px);
    z-index: 0;
    img {
      @include sizing(100%, 100%);
      object-fit: cover;
    }
  }
}
.active-dot {
  background-color: var(--primary);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-top: 0.55rem;
}

.connected-dot {
  background-color: var(--success);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-top: 0.55rem;
}
